/* .mtk3 {
    text-shadow: 0 0 4px #96a1ff;
} */
.mtk6 {
    color: #ff16b0;
    text-shadow: 0 0 4px #ff16b0;
}
.mtk7 {
    color: #46bdff;
    text-shadow: 0 0 4px #46bdff;
}
.mtk8 {
    color: #90ff9b;
    text-shadow: 0 0 4px #90ff9b;
}