#include "/home/*USER*/.xcolors"

*.background:       #161014
*.foreground:       #c15653
*.color0:           #4f2729
*.color8:           #6b3333
*.color1:           #ff6666
*.color9:           #F86564
*.color2:           #50d292
*.color10:          #6CBC87
*.color3:           #f7d15a
*.color11:          #F2BB5B
*.color4:           #418cd7
*.color12:          #6084BF
*.color5:           #cb6bff
*.color13:          #CF69DF
*.color6:           #81cdd3
*.color14:          #93B8BB
*.color7:           #c15653
*.color15:          #dd625d
